@model RecipeViewModel
@{
    ViewData["Title"] = "Create";
}
<style>
    .new input{
        background-color: #DCD0D4;
        color:black;
        font-size:16px;
    }

    .new textarea {
        color: black;
        font-size: 16px;
        width:80%;
        background-color: #DCD0D4;
    }

</style>
<h1 class="pannel-text"><b>Загрузить свой рецепт</b></h1>
<div class="recipe-form">
    <form class="main-form form-group-sm new">
        @* @await Html.PartialAsync("FullRecipeInput")*@
        <input type="hidden" id="recID" />
        <div  style="width:100% !important; align-self:center !important">
            <div class="main-form__item form-group-sm">
                <label class="main-form__label">Название: </label>
                <div><span asp-validation-for="Recipe.Name"></span></div>
                <input class="main-form__input" id="Name" />
            </div>

            <div class="main-form__item form-group-sm">
                <label class="main-form__label">Категория: </label>             
                <input  class="main-form__input" id="Category" />
            </div>

            <div class="main-form__item">
                <label class="main-form__label">Описание: </label>
                <div><span asp-validation-for="Recipe.Description"></span></div>
                <textarea class="main-form__textarea" id="Description"></textarea>
            </div>

            <div class="row" style="padding-left:200px">
                <div class="main-form__item col-md-3" >
                    <label class="main-form__label">Количество персон: </label>
                    <input class="main-form__input" style="width:100px !important" id="Servings" />
                    <div><span asp-validation-for="Recipe.Servings"></span></div>
                </div>
                <div class="main-form__item col-md-3">
                    <label class="main-form__label">Время на подготовку: </label>
                    <input class="main-form__input" style="width:100px !important" id="PrepMin" />
                    <div><span asp-validation-for="Recipe.PrepMinutes"></span></div>
                </div>
                <div class="main-form__item col-md-3">
                    <label class="main-form__label">Время готовки: </label>
                    <input class="main-form__input" style="width:100px !important" id="CookMin" />
                    <div><span asp-validation-for="Recipe.CookMinutes"></span></div>
                </div>
            </div>
            <div class="main-form__item col-md-12 increaseTop">
                <br />
                <label class=" main-form__label">Инструкция по приготовлению: </label>
                <textarea rows="5" class="main-form__textarea" style="width:80% " id="Directions"></textarea>
                <div><span asp-validation-for="Recipe.Directions"></span></div>
            </div>

            <div class="row" style="padding-left:200px">
         
                <input type="hidden" id="ingID" />
                <div class="main-form__item col-md-3">
                    <label class="main-form__label" name="ingrInput">Количество: </label>
                    <input class="main-form__input" style="width:100px !important" id="amoun0" />
                </div>
                <div class="main-form__item col-md-3">
                    <label class="main-form__label">Единицы измерения: </label>
                    <input class="main-form__input" style="width:100px !important" id="unit0" />
                </div>
                <div class="main-form__item col-md-3">
                    <label class="main-form__label">Название: </label>
                    <input class="main-form__input" style="width:100px !important" id="nameing0" />
                </div>
            </div>
              <div id="new"></div>
           
                @*@for (int x = 0; x < 2; x++)
                {
                    <div class="main-form__item">
                        @Html.HiddenFor(i => i.Ingredients[x].IngredientID)
                        <label id="for_input_ingr0" class="ingredient__error " style="display: none;"></label>

                        @Html.EditorFor(i => i.Ingredients[x].Amount, new { htmlAttributes = new { @class = "main-form__input form-control" } })
                        @Html.ValidationMessageFor(i => i.Ingredients[x].Amount, "", new { @class = " input-validation-error" })

                        <input oninput="number(this)" class="main-form__input" style="width: 60px !important; padding-left: 1px; padding-right: 0px" value="" type="text" name="numInput" placeholder="Кол-во" autocomplete="off">
                        <input checked type="radio" value="грамм" name="typeRadio" class="main-form__radio" id="radio_3">
                        <label for="radio_3" class="main-form__inline-label">гр.</label>
                        <input type="radio" value="штук" name="typeRadio" class="main-form__radio" id="radio_4">
                        <label for="radio_4" class="main-form__inline-label">шт.</label>
                        <input type="radio" value="по вкусу" name="typeRadio" class="main-form__radio" id="radio_5">
                        <label for="radio_5" class="main-form__inline-label">по вкусу</label>
                    </div>
                }
            </div>*@


           

        </div>
        <br />
        <div class="text-center">
            <br />
        </div>
        <div id="button_ingr" onclick="file()" style="margin-left:500px">Добавить поле</div>

    </form>
    <button class="main-form__button  btn formBtn" id="btn" type="submit">Добwавить!</button>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript" src="~/ajax/create_recept.js"></script>
