
<main>

    <div class="container recipe">
        <div class="row">
            <div class="col-sm-8 pull-sm-4"><h1><b>Кокосово-миндальное печенье с шоколадными верхушками</b></h1></div>
            <div class="col-sm-1">
    
            </div>
        </div>
        <br />
        @*    <h4 class="label-info" id="h4Format"><b>@Model.Recipe.Description</b></h4>*@
        <table class="table table-bordered form-two" style="background-color:white !important">
            <thead>
                <tr>
                    <th> <span> Количество персон </span></th>
                    <th> <span>Время подготовления </span></th>
                    <th> <span>Время готовки</span></th>
                </tr>
            </thead>
            <tbody style="color:black !important">
                <tr>
                    <th style="background-color:white !important; color:black !important"> 3</th>
                    <th style="background-color:white !important; color:black !important">10</th>
                    <th style="background-color:white !important; color:black !important">60</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container recipe">
        <div class="form-two">
            <h2> <span> Ингредиенты </span></h2>
            <ul class="list-unstyled " style="color: black; font-size: 18px;">
                <p> 1 чашка (250 мл.) кокосовой стружки
                    1/2 чашки миндаля<br>
                    3-4 ст. ложки сиропа агавы<br>
                    1 ст. ложка кокосового масла<br>
                    Жидкий шоколад на Ваш вкус (по желанию)<br>
                    Разогреваем духовку до 150C/300F.
                </p>

            </ul>
        </div>
    </div>
    <br />
    <div class="container recipe">
        <div class="form-two">
            <h2><span> Способ приготовления </span></h2>
            <p>
                Измельчаем орехи. Магазинная миндальная мука не подойдёт, так как она слишком сухая,
                а нам нужна чуть влажная миндальная масса. Смешиваем с кокосом и добавляем агаву.
                Вводим масло. Тесто должно быть рассыпчатым, но липким.
            </p>
            <p>
                Формируем порции. Для этого я использую ложку для мороженого.
                Прокладываем противень бумагой для выпечки
                и распределяем наше печенье. Выпекаем 10 минут или до момента, когда печенье чуть зарумянится.
            </p>
            <p>
                Вынимаем и НЕ ТРОГАЕМ. Дайте ему остыть и застыть.
                Пока оно не застыло и остыло, оно может рассыпаться.Растапливаем шоколад или готовим свой.
            </p>
            <p> Когда печенье остыло, покрываем нижнюю его часть или как Вам больше нравится, шоколадом. Готово!</p>
        </div>
    </div>


    <div class="pannel-text"> <a href="recipes.html"> Посмотреть еще</a></div>
</main>
<footer>
    <div class="container">
        <p>Карта сайта</p>
        <ul class="list-unstyled three-column">
            <li><a href="#">Главная страница</a></li>
            <li><a href="#">рецепты </a></li>
            <li><a href="#">Полезные сайты</a></li>
        </ul>

    </div>
    <div class="copyright text-center">
        Cамарский университет, 2022 <span>Технологии сети интернет</span>
    </div>
</footer>


