@{
    ViewData["Title"] = "Sites";
}

<main>



    <p class="pannel-text"> О сайте </p>
    <div class="main-new">
        <div class="figure">
            <img src="img/kul.jpg" style="float:right">
        </div>

        <h1> Кулинарный сайт рецептов Сoolinarz</h1>

        <p>
            Всех нас объединяет любовь к кулинарии. Мы не боимся экспериментировать со вкусами, потому что это —
            ключ к созданию гастрономического шедевра. На нашем сайте собраны рецепты блюд из разных стран и
            даже самых отдаленных уголков мира. Благодаря пошаговым инструкциям,
            каждая хозяйка сможет повторить их на своей кухне.<br>
            Koolinar.ru — это не только энциклопедия простых и сложных, домашних и изысканных рецептов,
            но и социальная сеть, на площадке которой кулинары общаются, делятся опытом и дают полезные советы.
        </p>
    </div>

    <p class="pannel-text"> Популярные рецепты </p>

    <div class="main-recipe">
        <!-- div р3-->
        <div class="form">
            <img src="img/rec1..png">
            <a href="#">  Биточки из брокколи </a>
        </div>
        <div class="form">
            <img src="img/rec2.jpg">
            <a href="#">  Айва запеченная </a>
        </div>
        <div class="form">
            <img src="img/rec3.jpg">
            <a href="#"> Картофельное пюре </a>
        </div>
    </div>
    </div>
    <div class="pannel-text"> <a href="recipes.html"> Посмотреть еще</a></div>
</main>
<footer>
    <div class="container">
        <p>Карта сайта</p>
        <ul class="list-unstyled three-column">
            <li><a href="#">Главная страница</a></li>
            <li><a href="#">Рецепты </a></li>
            <li><a href="#">Полезные сайты</a></li>
        </ul>

    </div>
    <div class="copyright text-center">
        Cамарский университет, 2022 <span>Технологии сети интернет</span>
    </div>
</footer>

